useDynLib(MPST, .registration=TRUE)

S3method(fit, MPST)
S3method(plot, MPST)
S3method(predict, MPST)
S3method(print, MPST)

export(basis2D.d)
export(basis3D.d)
export(dataGenerator2D)
export(dataGenerator3D)
export(energy3D)
export(fit)
export(inVT)
export(predict)
export(smoothness2D)
export(smoothness3D)

importFrom(Matrix, Matrix)
importFrom(Matrix, det)
importFrom(Matrix, sparseMatrix)
importFrom(MatrixExtra, t_deep)
importFrom(MatrixExtra, t_shallow)
importFrom(Rcpp, evalCpp)
importFrom(fields, image.plot)
importFrom(manipulate, manipulate)
importFrom(manipulate, slider)
importFrom(plotly, add_trace)
importFrom(plotly, layout)
importFrom(plotly, plot_ly)
importFrom(pracma, cross)
importFrom(pracma, eps)
importFrom(pracma, isempty)
importFrom(pracma, kron)
importFrom("grDevices", "cm.colors", "gray.colors", "heat.colors", "rainbow", "terrain.colors", "topo.colors")
importFrom("graphics", "hist", "par", "plot.new", "text")
importFrom("methods", "hasArg")
importFrom("stats", "rnorm", "terms.formula")
importFrom("utils", "head")

