useDynLib(MPST, .registration=TRUE)
# importFrom(Rcpp, evalCpp)
# exportPattern("^[[:alpha:]]+")
import(Rcpp)
importFrom(magrittr, `%>%`)
importFrom(Matrix, rankMatrix)
importFrom(grDevices, cm.colors, gray.colors, heat.colors, rainbow, terrain.colors, topo.colors)
importFrom(graphics, hist, layout, par, plot.new, text)
importFrom(stats, rnorm, terms.formula)
importFrom(utils, head)

# Export all public functions
export(basis2D.d)
export(basis3D.d)
export(energy3D)
export(smoothness2D)
export(smoothness3D)
export(inVT)
export(plot.MPST)
export(fit)
export(fit.MPST)
export(predict)
export(predict.MPST)

# S3 method declarations
S3method(plot, MPST)
S3method(print, MPST)
S3method(fit, MPST)
S3method(predict, MPST)

